events {

}

http {
  upstream web {
    {{ load_balancing_method }};
    {% for server in web_servers %}
    server {{ server.address }}:{{ server.port }};
    {% endfor %}
  }

  upstream api {
    {{ load_balancing_method }};
    {% for server in api_servers %}
    server {{ server.address }}:{{ server.port }};
    {% endfor %}
  }

  server {
    listen {{ load_balancer_port }};

    # Confiduration for web
    location / {
        proxy_pass http://web;
    }

    # Configuration for api
    location /api {
        rewrite ^/api/(.*)$ /$1 break;
        proxy_pass http://api;

    }

  }
}

